:root{
    --blackish: #2c2c34 ;
    --pinkish: #9a87ab;
    --whitish: #EBC3DB;
    --whitish-blue: #D8d8f6;
}

html, body{
    background-color: var(--blackish);
}
.container{
    box-sizing: border-box;
    position: absolute;
    width: 1085px;
    height: 850px;
    margin: 40px auto;
    padding: 10px;
    position: relative;
    background: var(--pinkish);
    border-radius: 25px;
}
.container{
    display: flex;
}
.left{
    flex: 1;
}
.right{
    flex: 1;
}
h1{
    position: absolute;
    padding-left: 30px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-underline-offset: 14px;
    
    text-decoration-line: underline;
    
    color: #2C2C34;
    
}


.firstName{
    box-sizing: border-box;

    position: absolute;
    width: 175px;
    height: 62px;
    left: 93px;
    top: 175px;

    background: #EDE3E9;
    border: 3px solid #2C2C34;
    border-radius: 20px;
}

.lastName{
    box-sizing: border-box;

    position: absolute;
    width: 175px;
    height: 62px;
    left: 289px;
    top: 175px;

    background: #EDE3E9;
    border: 3px solid #2C2C34;
    border-radius: 20px;
}

.userName{
    box-sizing: border-box;

    position: absolute;
    width: 370px;
    height: 62px;
    left: 94px;
    top: 249px;

    background: #EDE3E9;
    border: 3px solid #2C2C34;
    border-radius: 20px;
}

.email-reg{
    box-sizing: border-box;

    position: absolute;
    width: 370px;
    height: 62px;
    left: 94px;
    top: 323px;

    background: #EDE3E9;
    border: 3px solid #2C2C34;
    border-radius: 20px;
}

.password1{
    box-sizing: border-box;

    position: absolute;
    width: 370px;
    height: 62px;
    left: 94px;
    top: 397px;

    background: #EDE3E9;
    border: 3px solid #2C2C34;
    border-radius: 20px;
}

.password2{
    box-sizing: border-box;

    position: absolute;
    width: 370px;
    height: 62px;
    left: 94px;
    top: 471px;

    background: #EDE3E9;
    border: 3px solid #2C2C34;
    border-radius: 20px;
}

.date-ofbirth{
    box-sizing: border-box;

    position: absolute;
    width: 370px;
    height: 62px;
    left: 93px;
    top: 545px;

    background: #EDE3E9;
    border: 3px solid #2C2C34;
    border-radius: 20px;
}
.register-cont{
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.firstName-lbl{
    box-sizing: border-box;

    position: absolute;
    width: 175px;
    height: 62px;
    left: 110px;
    top: 192px;
    font-style:normal;
    font-family: 'Lato';
    font-size:20px;
}
.firstName:focus + label, input:not(:placeholder-shown) + label{
    transform: translate(-0.3em,-0.5em);
    font-size: 15px;
}
.firstName:focus{
    outline: none !important;
    border: 5px solid var(--blackish);
}


.lastName-lbl{
    box-sizing: border-box;

    position: absolute;
    width: 175px;
    height: 62px;
    left: 305px;
    top: 192px;
    font-style:normal;
    font-family: 'Lato';
    font-size:20px;
}
.lastName:focus + label, input:not(:placeholder-shown) + label{
    transform: translate(-0.3em,-0.5em);
    font-size: 15px;
}
.lastName:focus{
    outline: none !important;
    border: 5px solid var(--blackish);
}


.username-lbl{
    box-sizing: border-box;

    position: absolute;
    width: 175px;
    height: 62px;
    left: 110px;
    top: 265px;
    font-style:normal;
    font-family: 'Lato';
    font-size:20px;
}
.userName:focus + label, input:not(:placeholder-shown) + label{
    transform: translate(-0.3em,-0.5em);
    font-size: 15px;
}
.userName:focus{
    outline: none !important;
    border: 5px solid var(--blackish);
}


.emailreg-lbl{
    box-sizing: border-box;

    position: absolute;
    width: 175px;
    height: 62px;
    left: 110px;
    top: 340px;
    font-style:normal;
    font-family: 'Lato';
    font-size:20px;
}
.email-reg:focus + label, input:not(:placeholder-shown) + label{
    transform: translate(-0.3em,-0.5em);
    font-size: 15px;
}
.email-reg:focus{
    outline: none !important;
    border: 5px solid var(--blackish);
}

.register{
    margin-top:-45px;
}
.list{
    padding-top:120px;
}



.password1-lbl{
    box-sizing: border-box;

    position: absolute;
    width: 175px;
    height: 62px;
    left: 110px;
    top: 413px;
    font-style:normal;
    font-family: 'Lato';
    font-size:20px;
}
.password1:focus + label, input:not(:placeholder-shown) + label{
    transform: translate(-0.3em,-0.5em);
    font-size: 15px;
}
.password1:focus{
    outline: none !important;
    border: 5px solid var(--blackish);
}


.password2-lbl{
    box-sizing: border-box;

    position: absolute;
    width: 175px;
    height: 62px;
    left: 110px;
    top: 485px;
    font-style:normal;
    font-family: 'Lato';
    font-size:20px;
}
.password2:focus + label, input:not(:placeholder-shown) + label{
    transform: translate(-0.3em,-0.5em);
    font-size: 15px;
}
.password2:focus{
    outline: none !important;
    border: 5px solid var(--blackish);
}

input:focus{
    outline: none !important;
    border: 3px solid #2C2C34;
}




input{
    font-size: 20px;
    font-family: 'Lato';
    font-style: normal;
    color:#2C2C34;
}

ul{
    position: absolute;
    width: 313px;
    height: 63px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #2C2C34;
}

li{
    padding:7px;
}

border{
    background-color: #2C2C34;
}
button {
    position: absolute;
    top: 681px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: var(--whitish-blue);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: var(--blackish);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    color: var(--whitish-blue);
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

  