:root{
    --blackish: #2c2c34 ;
    --pinkish: #9a87ab;
    --whitish: #EBC3DB;
    --whitish-blue: #D8d8f6;
}

.profile-body{
    background-color: var(--blackish);
    display: flex;
    gap: 10px;
    align-items: stretch;
    color: aliceblue;
    font-family: 'Lato';
    font-style: normal;
}

.side-nav{
    width: auto;
    height: auto;
    order: 0;
}

.div-line{
    order: 1;
    height: 100vh;
}

.user-icon-profile{
    position: relative;
    display: flex;
    gap: 40px;
    order: 0;
    top: 33px;
}

.books-prof{
    order: 1;
    font-size: 23px;
    display: flex;
    gap: 5px;
}

.book-shelf-lbl{
    position: relative;
    top: 50px;
    margin-right: 10px;
}

.book-shelf{
    display: flex;
    gap:5px;
    margin-left: 10px;
    z-index: 10;
}

.profile-container{
    order: 3;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.profile-shelf{
    position: relative;
    order: 3;
    top: -59px;
    left: 100px;
}

.displayed-book{
    position: relative;
    margin-left: 120px;
    top: 50px;
    order: 3;
}

.name-prof{
    font-size: 50px;
}

.bio-prof{
    font-size: 20px;
}

.demoText{
    font-size: larger;
    color: aqua;
    height: auto;
    grid-area: main;
    order: 2;
}